.control-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: end;
    background-color: #16181d;
    color: #61dafb;
    font-family: Arial, Helvetica, sans-serif;
}

.panel-col {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px;
}

.inner-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.label {
    margin-bottom: 5px;
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0.15em;
}

input {
    background-color: transparent;
    color: rgba(97, 218, 251, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: rgba(97, 218, 251, 0.4);
    border-width: 1px;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.8em;
}

select {
    background-color: transparent;
    color: rgba(97, 218, 251, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: rgba(97, 218, 251, 0.4);
    border-width: 1px;
    border-radius: 4px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.8em;
}


.button {
    background-color: transparent;
    color: #61dafb;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: rgba(97, 218, 251, 0.4);
    border-width: 1px;
    border-radius: 4px;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
}

.button:hover:enabled {
    cursor: pointer;
    background-color: rgba(97, 218, 251, 0.05);
    border-color: rgba(97, 218, 251, 0.8);
}

.button:disabled {
    opacity: 0.5;
}

select:hover {
    cursor: pointer;
    background-color: rgba(97, 218, 251, 0.05);
    border-color: rgba(97, 218, 251, 0.8);
}

input:hover {
    background-color: rgba(97, 218, 251, 0.05);
    border-color: rgba(97, 218, 251, 0.8);
}